.container {
    display: flex;
    width: 700px;
}

.text {
    margin-right: 5px;
    font-weight: 700;
    line-height: 1.33;
}

.img {
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.list {
    list-style: none;
}