.container {
    margin-left: 20px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
    height: 48px;
    border: 0;
    background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.button:hover {
    opacity: 1;
}

.item {
    display: inline-block;
    text-decoration: none;
    color: brown;
    padding: 10px 15px;
    border: 1px solid turquoise;
}

.item:not(:last-child) {
    margin-left: 35px;
}

.itemActive {
    composes: item;
    color: white;
    background-color: red;
    border: none;
}